*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 5px solid #fff;
    overflow: hidden;
}
.main{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px;
    background: url(IMAGES/background.avif);
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    writing-mode:vertical-rl;
    text-orientation: sideways;
}
.first a{
    color: #464040;
    gap: 30px;

}
.second{
    width: 30%;
    /* flex-basis: 30%; */
    border: 10px solid #222122;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:#d4cad3;
}
.second img{
    width: 91%;
    object-fit: cover;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    color: #464040;
    letter-spacing: 20px;

}
.fourth{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.fourth .big {
    font-size: 70px;
    color: #000;
    font-weight: 900;
}
.fourth h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 35px;
}
.fourth .pink{
    color: #ff0050;
    padding: 10px;

}
.fourth h4{
    font-size: 20px;
    padding: 2px;
    gap: 10px;
}
.fourth .pink2{
    color: #f7044f;
    font-size: 30px;
    font-weight: 900;
}

@media (max-width:991px){
body{
    width: 100vw;
    height: 100vh;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.first{
    display: flex;
}


}
@media (max-width:768px){
    .hero{
        width: 100vw;
        /* height: 100vh; */
        padding: 25px;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .first{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        writing-mode: horizontal-tb;
    }
    .second{
        height: 30%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        
    }
    .second img{
        height: 90%;
        object-fit: cover;
        /* flex-shrink: 0; */
        object-position: top;
    }
    .third{
        writing-mode: horizontal-tb;
    }

}
@media (max-width:450px){

}