*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    width: 50%;
    height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(IMAGES/background.avif);
    background-size: cover;
    background-position: center;
    
}
.main{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;

    
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    writing-mode:vertical-rl;
    text-orientation: sideways;
}
.first a{
    color: #464040;
    gap: 30px;

}
.second{
    width: 300px;
    min-height: 350px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second img{
    width: 120px;
    object-fit: cover;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    color: #464040;
    letter-spacing: 20px;
}